<a href="https://colab.research.google.com/github/RaunakRaj2081/python_Language/blob/main/3_List_%2C_set_%2C_Tuple_and_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [ ]:
# list should be included in the square bracket
list1 = [1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [ ]:
# list can have multiple data types
list2 = [1 , 2.5 , "raunak" , True]
print(list2)

[1, 2.5, 'raunak', True]

lists ara mutable

In [ ]:
# adding elements to a list
list2 = [1 , 2.5 , "raunak" , True]
print(list2)
list2.append(6)
list2[1] = 3.5
print(list2)

[1, 2.5, 'raunak', True]
[1, 3.5, 'raunak', True, 6]

In [ ]:
# printing elements of list using index
print(list2[2])
print(list2[3])

raunak
True

In [ ]:
# list allows duplicate values
list3 = [1 , 2.5 , "raunak" , True , 1 , 2.5 , "raunak" , True]
print(list3)

[1, 2.5, 'raunak', True, 1, 2.5, 'raunak', True]

In [ ]:
# getting the length of list
print(len(list3))

8

In [ ]:
# initializing an empty list
list4 = []
print(list4)

[]

In [ ]:
# delete element from list
list5 = [1 , 2 , "eesd", 4.5 , False]
print(list5)
del list5[3]
print(list5)

[1, 2, 'eesd', 4.5, False]
[1, 2, 'eesd', False]

In [ ]:
# join two lists
list6 = [1 , 2 , 3 , 4]
list7 = [5 , 6 , 7 , 8]
list8 = list6 + list7
print(list8)

[1, 2, 3, 4, 5, 6, 7, 8]

# Tuple

In [2]:
# tuples are immutable
t1 = (1 , 2 , 3 , 4)
print(t1)
type(t1)

(1, 2, 3, 4)

tuple

In [16]:
# tuples also allow multiple data types
# tuples allow duplicate values
t2 = (1 , 2.5 , "raunak" , True , 2.5)
print(t2)

(1, 2.5, 'raunak', True, 2.5)

In [4]:
# converting a list to a tuple
list9 = [1 , 2 , 3 , 4]
print(list9)
t3 = tuple(list9)
print(t3)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [5]:
# printing elements of tuple using indices
print(t3[2])
print(t3[3])

3
4

In [6]:
# printing no. of elements in tuple
print(len(t3))

4

#Set

In [7]:
set1 = {1,2,3,4}
print(set1)
type(set1)

{1, 2, 3, 4}

set

In [12]:
#set doesn't support indexing
# set supports multiple data types
set2 = {1,2,True , "raunak"}
print(set2)

{1, 2, 'raunak'}

In [14]:
#set are immutable -> it does not support append or del

In [15]:
#convert a list to a set
list5 = [3,4,5,7]
x = set(list5)
print(x)

{3, 4, 5, 7}

In [17]:
#set doesn't allow duplicate values
set5 = {2,3,2,4,3,6}
print(set5)

{2, 3, 4, 6}

#Dictionary

In [18]:
# key-value pair
my_dict = {'name':'raunak', 'age':20}
print(my_dict)
type(my_dict)

{'name': 'raunak', 'age': 20}

dict

In [19]:
# values can be accessed using keys
print(my_dict['name'])
print(my_dict['age'])

raunak
20

In [20]:
# dictionary doesn't allow duplicate values
my_dict1 = {'name':'raunak', 'age':20 , 'name':'eesd'}
print(my_dict1)

{'name': 'eesd', 'age': 20}