<a href="https://colab.research.google.com/github/RaunakRaj2081/python_Language/blob/main/6_Loops_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for loop

In [1]:
laptop1 = int(input('Enter the price of the laptop : '))
laptop2 = int(input('Enter the price of the laptop : '))
laptop3 = int(input('Enter the price of the laptop : '))
laptop4 = int(input('Enter the price of the laptop : '))
laptop5 = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 30000
Enter the price of the laptop : 40000
Enter the price of the laptop : 50000
Enter the price of the laptop : 60000
Enter the price of the laptop : 70000

In [2]:
for i in range(4):    # 0,1,2,3
  laptop_price = int(input('Enter the price of the laptop : '))

Enter the price of the laptop : 10000
Enter the price of the laptop : 20000
Enter the price of the laptop : 30000
Enter the price of the laptop : 40000

In [3]:
numbers = [50, 100, 150, 200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [4]:
numbers = [50, 100, 150, 200]

for i in numbers:
  print(i)

50
100
150
200

#while loop

In [5]:
i = 0

while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

# break statement

In [6]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

#continue staement

In [7]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [8]:
# example using both
for i in range(1, 6):
    if i == 3:
        print("Skipping 3")
        continue
    if i == 5:
        print("Breaking at 5")
        break
    print("Current number:", i)

Current number: 1
Current number: 2
Skipping 3
Current number: 4
Breaking at 5

# range

In [9]:
for i in range(1, 6):
    print(i)

#range(start, end) includes:
#The start number (1 here)
#But excludes the end number (6 here)

1
2
3
4
5